@import "~tailwindcss/base.css";
@import "~tailwindcss/components.css";
@import "~tailwindcss/utilities.css";

body{
    background-color: rgba(31,41,51, 1) !important;
}

body::before{
    z-index: -99999;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 0.2;
    background: url("/static/bg.png") no-repeat center;
}